


*{
    background-color: rgb(56, 56, 56);
    font-family: monospace;
    font-size: 12pt;
}
.top-card{
    background-color: rgb(56, 56, 56);
    color:white;

}

.f1{
    /*'Major Mono Display'*/
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;

}
.orange{
    color:orange;
}